/* app css stylesheet */

body {
    margin: 0;
    padding: 0;
}

.test-content {
  width: 450px;
}

.test-card {
  width: 200px;
}

il-img {
    width: 100% !important;
    height: 100% !important;
}

.log {
    color: #cccccc;
    font-size: 8px;
}

.il-example {
    border: 1px solid #cccccc;
    margin-top: 10px;
}

.il-example-header {
    cursor: pointer;
    padding: 5px;
}

.il-example-header label {
    text-transform: uppercase;
    color: #6f6f6f;
    font-size: 12px;
}

.il-example-body {
    margin: 10px;
}

.il-grid {
    height: 100%;
}

.il-card {
    width: 45%;
    margin: 2.5%;
    display: inline-block;
}

.il-card label {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: gray;
}

.fade-out.ng-hide {
    opacity: 0;
}

.fade-out.ng-hide-remove, .fade.ng-hide-add {
    position: absolute !important;
    display: inline-block !important;
}

.fade-out.ng-hide-remove {
    transition: all linear 1000ms;
}

.fade-out.ng-hide-add {
    transition: all linear 500ms;
}

.il-grid-placeholder {

    position: absolute;
    background-color: white;
    top:0;

    margin: auto;

    background-image:
            linear-gradient( 90deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100% ),
            url('viva_placeholder.png');

    background-repeat: repeat-y;

    background-size:
            100px   100%,  /* highlight */
            100%    auto;  /* orange */

    background-position:
            0       0,   /* highlight */
            0       0;   /* orange */

    animation: shine 1s infinite;
}

@keyframes shine {
    to {
        background-position:
                100%    0,   /* highlight */
                0       0;   /* orange */
    }
}


